body, .container, input {
    font-family: "Ubuntu Mono", sans-serif;
}

body {
    background-color: #383838;
    background-image: url("/images/bg.png");
    text-shadow: #000 1px 1px 1px;
}

header {
    font-size: xx-large;
    color: #6CA0A3;
    text-align: center;
    margin-bottom: 15px;
}

.container {
    background-color: #202020;
    width: 560px;
    color: #aaa;
    border: 1px solid;
    border-color: #101010;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px 20px
}

.name {
    color: #cc9393;
}

.anon {
    color: #f0dfaf;
}

.date {
    color: #7f9f7f;
    float: right;
}

.comment, form.new, form.login {
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #707070;
    padding-top: 5px;
    padding-bottom: 5px;
}

.error {
    color: #cc9393;
}

input {
    background-color: #ccc;
}

.wrap {
    display: inline-block;
    width: 100%;
}

.avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 0px;
    background-color: #777;
}

.avatar > img {
    max-width: 100%;
    height: auto;
}

.avatar, .avatar > img {
    border: 0px solid #777;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.message {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text], input[type=password] {
    padding: 5px;
    font-size: 1.0em;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit] {
    padding: 5px 15px;
    font-size: 1.0em;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text].fieldError {
	border: 2px solid #cc9393;
	box-shadow: 0px 1px 3px #cc9393 inset;
}

@media all and (max-width: 644px) {
    .container {
        width: 90%;
    }

    a.fork {
        display: none;
    }
}

@media all and (max-width: 480px) {
    .avatar {
        display: none;
    }

    .message {
        margin-left: 0px;
    }
}
