<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'/>
    <title>Last comments in guestbook</title>
  </head>
  <body>
    <div class="container">
      <header>Welcome to my guestbook!</header>

      <div class="comments">
        <div class="comment" th:each="c: ${comments}">
          <div class="date" th:text="${dateFormat.format(c.created)}">2015-08-01 00:00:00</div>
          <div class="name" th:text="${c.name}">name</div>
          <p class="message" th:text="${c.message}">message</p>
        </div>
      </div>

      <form class="new" th:action="@{/}" th:object="${commentForm}" method="post">
	<p>Name</p>
	<p th:if="${#fields.hasErrors('name')}"
	   th:errors="*{name}" th:errorclass="error">Incorrect name</p>
	<input type="text" th:field="*{name}" th:errorclass="fieldError" /><br></br>

	<p>Message</p>
	<p th:if="${#fields.hasErrors('message')}"
	   th:errors="*{message}" th:errorclass="error">Incorrect message</p>
	<input type="text" th:field="*{message}" th:errorclass="fieldError" /><br></br>

	<p></p><input type="submit" value="Submit"></input>
      </form>
    </div>
    <a class="fork" href="https://github.com/abstractionlayer/spring-demo-guestbook">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></img>
    </a>
  </body>
</html>
