<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'/>
    <title>Last comments in guestbook</title>
  </head>
  <body>
    <div class="container">
      <header>Welcome to my guestbook!</header>

      <div class="comments">
        <div class="comment" th:each="c: ${comments}">
          <div class="date" th:text="${dateFormat.format(c.created)}">2015-08-01 00:00:00</div>
          <div class="name" th:text="${c.name}">name</div>
          <p class="message" th:text="${c.message}">message</p>
        </div>
      </div>

      <form class="new" th:action="@{/}" th:object="${commentForm}" method="post">
	<p>Name</p>
	<p th:if="${#fields.hasErrors('name')}"
	   th:errors="*{name}" th:errorclass="error">Incorrect name</p>
	<input type="text" th:field="*{name}" th:errorclass="fieldError" /><br></br>

	<p>Message</p>
	<p th:if="${#fields.hasErrors('message')}"
	   th:errors="*{message}" th:errorclass="error">Incorrect message</p>
	<input type="text" th:field="*{message}" th:errorclass="fieldError" /><br></br>

	<p></p><input type="submit" value="Submit"></input>
      </form>
    </div>
  </body>
</html>
